In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("UCI_Credit_Card.csv")
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [3]:
df.shape

(30000, 25)

In [4]:
df.dtypes

ID                              int64
LIMIT_BAL                     float64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
default.payment.next.month      int64
dtype: object

In [5]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [6]:
df=df.rename(columns = {'default.payment.next.month':'default'})

In [7]:
 df["EDUCATION"].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

In [8]:
df["MARRIAGE"].value_counts()

2    15964
1    13659
3      323
0       54
Name: MARRIAGE, dtype: int64

In [9]:
df.query('EDUCATION!=0 and EDUCATION!=6 and EDUCATION!=5', inplace = True)

In [10]:
df["EDUCATION"].value_counts()

2    14030
1    10585
3     4917
4      123
Name: EDUCATION, dtype: int64

In [11]:
df.query('MARRIAGE!=0', inplace = True)

In [12]:
df["MARRIAGE"].value_counts()

2    15806
1    13477
3      318
Name: MARRIAGE, dtype: int64

In [13]:
df["MARRIAGE"].value_counts(normalize=True)

2    0.533968
1    0.455289
3    0.010743
Name: MARRIAGE, dtype: float64

In [14]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
count,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,...,29601.000000,29601.000000,29601.000000,29601.000000,2.960100e+04,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000
mean,14971.758927,167550.544914,1.603189,1.815479,1.555454,35.464072,-0.014932,-0.131313,-0.163440,-0.218303,...,43122.554204,40235.545184,38858.449816,5649.560319,5.894788e+03,5198.415898,4828.659268,4795.032735,5181.326374,0.223134
std,8660.184430,129944.020953,0.489244,0.710399,0.518092,9.213243,1.124503,1.199642,1.199793,1.172220,...,64196.383913,60699.344884,59519.893043,16568.264941,2.308919e+04,17580.914806,15711.057992,15244.217154,17657.260739,0.416355
min,1.000000,10000.000000,1.000000,1.000000,1.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7474.000000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1780.000000,1278.000000,1000.000000,8.250000e+02,390.000000,298.000000,259.000000,138.000000,0.000000
50%,14953.000000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19005.000000,18091.000000,17118.000000,2100.000000,2.007000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22463.000000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54271.000000,50072.000000,49121.000000,5005.000000,5.000000e+03,4500.000000,4014.000000,4042.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,4.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [15]:
df.shape

(29601, 25)

In [16]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
onehot = ohe.fit_transform(df[["SEX", "MARRIAGE","EDUCATION"]])
onehot = onehot.toarray()
x = pd.DataFrame(onehot)

In [17]:
x.columns = ["male","female","married","single","others","graduate school","university","high school","other"]
x.head()

,male,female,married,single,others,graduate school,university,high school,other
0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [18]:
df= df.reset_index(drop=True)
df = pd.concat([df,x],1)
df = df.drop(["SEX","MARRIAGE","EDUCATION"],1)
df.head()
df.shape

(29601, 31)

In [19]:
df = df.drop(["ID"],1)
df.shape

(29601, 30)

In [20]:
y=df["default"]
df = df.drop(["default"],1)

In [21]:
numdf = df.drop(["male","female","married","single","others","PAY_0","PAY_2","PAY_3","PAY_4","PAY_5","PAY_6","graduate school","university","high school","other"],1)

In [22]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
cols=list(numdf) 
numdf=scaler.fit_transform(numdf)
numdf=pd.DataFrame(numdf,columns=cols)
numdf.head()

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,0.010101,0.051724,0.149982,0.069164,0.086723,0.160138,0.080648,0.260979,0.000000,0.000409,0.000000,0.000000,0.000000,0.000000
1,0.111111,0.086207,0.148892,0.067858,0.087817,0.163220,0.084074,0.263485,0.000000,0.000594,0.001116,0.001610,0.000000,0.003783
2,0.080808,0.224138,0.172392,0.079532,0.093789,0.173637,0.095470,0.272928,0.001738,0.000891,0.001116,0.001610,0.002345,0.009458
3,0.040404,0.275862,0.188100,0.111995,0.113407,0.186809,0.109363,0.283685,0.002290,0.001199,0.001339,0.001771,0.002506,0.001892
4,0.040404,0.620690,0.154144,0.071601,0.106020,0.179863,0.099633,0.275681,0.002290,0.021779,0.011160,0.014493,0.001615,0.001284

In [23]:
df1 = df[["male","female","married","single","others","PAY_0","PAY_2","PAY_3","PAY_4","PAY_5","PAY_6","graduate school","university","high school","other"]]

In [24]:
X1 = pd.concat([numdf,df1],1)

In [25]:
from sklearn.model_selection import train_test_split as tts
X1_train,X1_test,y_train,y_test=tts(X1,y,test_size=0.3,random_state=42)

In [26]:
X1_test.shape

(8881, 29)

In [27]:

import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [28]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 15,init= 'uniform',activation = 'relu', input_dim = 29))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 15,init= 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(output_dim = 1,init= 'uniform', activation = 'sigmoid'))

In [29]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set


classifier.fit(X1_train, y_train, batch_size = 10, epochs = 20)

Epoch 1/20
20720/20720 [==============================] - 34s 2ms/step - loss: 0.4637 - acc: 0.8114
Epoch 2/20
20720/20720 [==============================] - 29s 1ms/step - loss: 0.4463 - acc: 0.8190
Epoch 3/20
20720/20720 [==============================] - 27s 1ms/step - loss: 0.4435 - acc: 0.8204
Epoch 4/20
20720/20720 [==============================] - 26s 1ms/step - loss: 0.4419 - acc: 0.8204
Epoch 5/20
20720/20720 [==============================] - 26s 1ms/step - loss: 0.4394 - acc: 0.8216
Epoch 6/20
20720/20720 [==============================] - 25s 1ms/step - loss: 0.4377 - acc: 0.8218: 0s - loss: 0.43
Epoch 7/20
20720/20720 [==============================] - 27s 1ms/step - loss: 0.4362 - acc: 0.8217
Epoch 8/20
20720/20720 [==============================] - 26s 1ms/step - loss: 0.4351 - acc: 0.8218
Epoch 9/20
20720/20720 [==============================] - 27s 1ms/step - loss: 0.4349 - acc: 0.8217
Epoch 10/20
20720/20720 [==============================] - 27s 1ms/step - loss: 0.4340 - acc: 0.8222: 1s - lo
Epoch 11/20
20720/20720 [==============================] - 26s 1ms/step - loss: 0.4331 - acc: 0.8229
Epoch 12/20
20720/20720 [==============================] - 27s 1ms/step - loss: 0.4335 - acc: 0.8228
Epoch 13/20
20720/20720 [==============================] - 27s 1ms/step - loss: 0.4327 - acc: 0.8226
Epoch 14/20
20720/20720 [==============================] - 28s 1ms/step - loss: 0.4327 - acc: 0.8221
Epoch 15/20
20720/20720 [==============================] - 27s 1ms/step - loss: 0.4322 - acc: 0.8225
Epoch 16/20
20720/20720 [==============================] - 26s 1ms/step - loss: 0.4319 - acc: 0.8225
Epoch 17/20
20720/20720 [==============================] - 27s 1ms/step - loss: 0.4315 - acc: 0.8224
Epoch 18/20
20720/20720 [==============================] - 26s 1ms/step - loss: 0.4312 - acc: 0.8227
Epoch 19/20
20720/20720 [==============================] - 27s 1ms/step - loss: 0.4310 - acc: 0.8233
Epoch 20/20
20720/20720 [==============================] - 26s 1ms/step - loss: 0.4312 - acc: 0.8220

In [30]:
y_pred = classifier.predict(X1_test)

In [32]:
y_pred = (y_pred > 0.5)

In [33]:

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [34]:
(6549+713)/(6549+713+1308+311)

0.8177007093795744