In [4]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('C:\\Users\\Siddharth\\Desktop\\default-of-credit-card-clients-dataset\\UCI_Credit_Card.csv')

In [10]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [11]:
#Cleaning Data

In [12]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [17]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [18]:
df['default.payment.next.month'].value_counts()

0    23364
1     6636
Name: default.payment.next.month, dtype: int64

In [ ]:
df = df.rename(columns={'default.payment.next.month':'default'})

In [40]:
from sklearn.utils import resample
df_new = df[df.default == 0]
df_new_1 = df[df.default == 1]

df_new_1_sample = resample(df_new_1,replace = True,n_samples = 23364,random_state = 123)
df_sample = pd.concat([df_new,df_new_1_sample])
df_sample['default'].value_counts()

1    23364
0    23364
Name: default, dtype: int64

In [41]:
data = df_sample

In [43]:
data.default.value_counts()

1    23364
0    23364
Name: default, dtype: int64

In [45]:
data.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default'],
      dtype='object')

In [46]:
X = data.drop(["ID","default"],1)
Y = data['default']

In [48]:
from sklearn.model_selection import train_test_split as tts
X_train,X_test,Y_train,Y_test = tts(X,Y,test_size = 0.3,random_state = 42)

In [49]:
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, precision_score, recall_score

In [50]:
log_reg = LogisticRegression()

In [51]:
log_reg.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [55]:
y_pred = log_reg.predict(X_test)

In [63]:
precison_call = precision_score(Y_test,y_pred)
precison_call

0.5901257568700512

In [65]:
re_call = recall_score(Y_test,y_pred)
re_call

0.729103726082578

In [73]:
crossval_logistics = cross_val_score(log_reg,X_train,Y_train,cv=10).mean()
crossval_logistics

0.6226410644547303

In [67]:
from sklearn.neighbors import KNeighborsClassifier
knn  = KNeighborsClassifier()
crossval_knn = cross_val_score(knn,X_train,Y_train,cv=10).mean()

In [78]:
pre_knn = precision_score(Y_test,y_pred)
recall_knn = recall_score(Y_test,y_pred)
print(pre_knn)
print(recall_knn)

0.5901257568700512
0.729103726082578

In [69]:
crossval_knn

0.696902836982622